<p><%=@article.title%></p>
<p><%=@article.content%></p>


<form method="delete" action="/articles/<% @article.id %>">
  <input type="hidden" name="_method" value="delete"/>
  <input type="submit"/>
</form>